doc/html
*.mat
*~
*swp
*swo
*.directory
*.orig
help/mtex/*
help/tmp/*
!data/testgrains.mat
/myToken.txt
resources/*
*.asv
myScripts
/data/Neper/neper.log
/data/Neper/ori_in.txt
/data/Neper/my100GrSlice.ori
/data/Neper/my100GrSlice.tess
/data/Neper/my100grains.ori
/data/Neper/my100grains.stpoly
/data/Neper/my100grains.tess
.mailmap
gitTricks.md
/extern/chebfun
