[submodule "extern/jsonlab"]
	path = extern/jsonlab
	url = https://github.com/fangq/jsonlab.git
[submodule "extern/stuct2xml"]
	path = extern/stuct2xml
	url = https://github.com/joe-of-all-trades/struct2xml.git
[submodule "extern/matGeom"]
	path = extern/matGeom
	url = git@github.com:mattools/matGeom.git
