c/bin/glnx86/*
c/bin/glnxa64/*
c/bin/win32/*
c/bin/win64/*
c/bin/maci/*
c/bin/maci64/*
c/mex/glnx86/*
c/mex/glnxa64/*
c/mex/win32/*
c/mex/win64/*
c/mex/maci64/*
c/mex/maci/*
data/cif/*
doc/html
*.mat
*~
*swp
*swo
*.directory
*.orig
help/mtex/*
help/tmp/*
!data/testgrains.mat
/myToken.txt
resources/*
*.c
*.c
*.asv
myScripts